.flex_T {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    max-width: 100%;
}

.let_radius {
    border-radius: 12px;
    width: 30%;
}